/* 
 Date: 2016-01-15 09:50:55 [AM] 
*/

@charset "utf-8";
/* CSS Document */
body, dl, dt, dd, ul, ol, nl, li, h1, h2, h3, h4, h5, h6, p, span, a, b, strong, object, iframe, label, img, select, form, input, textarea, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, button {
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
img{
	border:0;
}
i, cite, em, var, address, dfn {
    font-style:normal;
}
*:focus {outline: none;} 
::-ms-clear, ::-ms-reveal{display: none;}
body{
	font-size: 12px;
	font-family: "microsoft yahei","Helvetica","SimSun","Arial", sans-serif;
	color:#666;
}
ul,li{ list-style:none;}

/*撑开父级元素*/
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	visibility: none;
	height: 1%;
}